.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer h2 {
  margin: 0;
}

.timer h3 {
  margin: 0;
  color: #2c3e50;
  font-size: 18px;
}

.timer button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.timer button:hover {
  background-color: darkred;
}
